Source: mintmenu
Section: admin
Priority: optional
Maintainer: Chen Bo <666Yuhoo@gmail.com> 
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.2

Package: mintmenu
Architecture: all
Depends:${shlibs:Depends}, ${misc:Depends}
Description: Advanced Gnome menu
 One of the most advanced menus under Linux. MintMenu supports filtering, favorites, easy-uninstallation, autosession, and many other features.
