#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


%:
	dh $@


#del#CFLAGS = -Wall -g

#del#ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
#del#	CFLAGS += -O0
#del#else
#del#	CFLAGS += -O2
#del#endif

#del#configure: configure-stamp
#del#configure-stamp:
#del#	dh_testdir
	# Add here commands to configure the package.

#del#	touch configure-stamp


#del#build: build-stamp

#del#build-stamp: configure-stamp 
#del#	dh_testdir
#del#	touch build-stamp

#del#clean:
#del#	dh_testdir
#del#	dh_testroot
#del#	rm -f build-stamp configure-stamp
#del#	dh_clean 

#del#install: build
#del#	dh_testdir
#del#	dh_testroot
#del#	dh_clean -k 
#del#	dh_installdirs

	# Add here commands to install the package into debian/mintmenu.
	#$(MAKE) install DESTDIR=$(CURDIR)/debian/mintmenu
#del#	mkdir -p $(CURDIR)/debian/mintmenu
#del#	cp -r $(CURDIR)/usr $(CURDIR)/debian/mintmenu/

# Build architecture-independent files here.
#del#binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
#del#binary-arch: build install
#del#	dh_testdir
#del#	dh_testroot
#del#	dh_installchangelogs 
#del#	dh_installdocs
#del#	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_python
#	dh_installinit
#	dh_installcron
#	dh_installinfo
#del#	dh_installman
#del#	dh_link
#del#	dh_strip
#del#	dh_compress
#del#	dh_fixperms
#	dh_perl
#	dh_makeshlibs
#del#	dh_installdeb
#del#	dh_shlibdeps
#del#	dh_gencontrol
#del#	dh_md5sums
#del#	dh_builddeb

#del#binary: binary-indep binary-arch
#del#.PHONY: build clean binary-indep binary-arch binary install configure
